---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import TimeLineElement from "../components/cv/TimeLine.astro";
import createSlug from "../lib/createSlug"

const projects = (await getCollection("project")).sort((a, b) => b.data.year - a.data.year)

const last_projects = projects.slice(0, 3)
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-6 mt-5">
    <div class="text-xl py-1">Bonjour 👋</div>
    <div class="text-5xl font-bold">Je suis Matthieu Robert</div>
    <div class="text-3xl py-3 font-bold">Développeur backend et DevOps</div>
    <div class="py-2">
      <div class="mb-5 text-justify">
        Je suis un étudiant de 22 ans en troisième année de BUT Informatique en alternance au sein de l'entreprise CSGroup.
    Je suis passionné d’informatique depuis mon enfance et c’est ainsi que j’ai pu me former et découvrir de nombreuses technologies et langages comme le Go, Docker, Kubernetes ou la CI.
    Durant ces années de découverte et d’apprentissage, j’ai pu faire quelques projets que vous pourrez découvrir ci-dessous.
      </div>
    </div>
    <!-- <div class="mt-4">
      <a class="btn" href="https://github.com/matthieurobert" target="_blank"> Github</a>
    </div> -->
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="BUT Informatique"
      subtitle="Depuis 2021 à l'IUT de Blagnac"
    />
    <TimeLineElement
      title="Cycle préparatoir intégré"
      subtitle="De 2019 à 2021 dans l'école d'ingénieur Polytech Montpellier"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Projet SafeScale - Développement Go et Python"
      subtitle="De 2022 à 2023 au sein de CSGroup, Toulouse, France"
    >
      <li>Contribution au développement d'un outil de gestion multiCloud open source permettant une approche étape par étape pour une migration facile et sécurisée vers le Cloud</li>
      <li>Développement d'une collection Ansible, en python, permettant d'interagir avec l'outil SafeScale afin de créer des serveurs dans le Cloud.</li>
    </TimeLineElement>
    <TimeLineElement
      title="Projet METIS - Mise en place de plateformes Cloud"
      subtitle="Depuis 2023 au sein de CSGroup, Toulouse, France"
    >
      <li>Développement d'une solution rapide et facile pour déployer des environnements de production adaptés au Cloud basé sur Kubernetes et ArgoCD.</li>
  </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Compétences</div>
  </div>
  <div class="row-start-3 flex flex-row place-content-around w-full mb-10">

    <div>
      <div class="text-2xl mb-3 w-full font-bold">Langages</div>
      <div class="">
        <div class="flex flex-row"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg" class="" width="20px" height="auto">Java</div>
        <div class="flex flex-row"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/go/go-original.svg" class="" width="20px" height="auto">Go</div>
        <div class="flex flex-row"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" class="" width="20px" height="auto">Python</div>
        <div class="flex flex-row"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/php/php-original.svg" class="" width="20px" height="auto">PHP</div>
        <div class="flex flex-row"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" class="" width="20px" height="auto">JavaScript</div>
      </div>
    </div>

    <div>
      <div class="text-2xl mb-3 w-full font-bold">Outils</div>
      <div>
        <div class="flex flex-row"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-original.svg" class="" width="20px" height="auto">Docker</div>
        <div class="flex flex-row"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/kubernetes/kubernetes-original.svg" class="" width="20px" height="auto">Kubernetes</div>
        <div class="flex flex-row"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/ansible/ansible-original.svg" class="" width="20px" height="auto">Ansible</div>
        <div class="flex flex-row"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/terraform/terraform-original.svg" class="" width="20px" height="auto">Terraform</div>
        <div class="flex flex-row"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/git/git-original.svg" class="" width="20px" height="auto">Git</div>
      </div>
    </div>

    <div>
      <div class="text-2xl mb-3 w-full font-bold">Base de données</div>
      <div>
        <div class="flex flex-row"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original.svg" class="" width="20px" height="auto">PostgreSQL</div>
        <div class="flex flex-row"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original.svg" class="" width="20px" height="auto">MongoDB</div>
        <div class="flex flex-row"><img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original.svg" class="" width="20px" height="auto">MySQL</div>
      </div>
    </div>

    <div>
      <div class="text-2xl mb-3 w-full font-bold">Méthodologies</div>
      <div>
        <div class="flex flex-row">CI/CD</div>
        <div class="flex flex-row">Agile</div>
        <div class="flex flex-row">Scrum</div>
      </div>
    </div>

    <div>
      <div class="text-2xl mb-3 w-full font-bold">Langues</div>
      <div>
        <div class="flex flex-row">Anglais</div>
      </div>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Mes derniers projets {"</>"}</div>
  </div>

  {
    last_projects.map((project) => (
      <>
        <HorizontalCard
          title={project.data.title}
          img={project.data.img}
          desc={project.data.description}
          url={"/portfolio/project/" + createSlug(project.data.title, project.slug)}
          target="_self"
          badge={project.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
